h1 {
    text-align: center;
    padding-top: 44px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 62px;
    padding-left: 36px;

    h2 {
        padding-top: 41px;
        text-align: left;
        font-size: 24pt;
    }

    .vl {
        position: flex;
        height: 143px;
        border-left: 1px solid;
        padding-right: 42px;
        padding-bottom: 150px;
        color: #c0c0c0;
    }

    .unique-products, .exceptional-support, .closing-time, .voice {
        height: 25vw;
        width: 40vw;
        padding-left: 36px;
        padding-right: 82px;
        text-align: left;
        font-size: 18pt;
    }
  }