h1 {
  text-align: center;
  padding-top: 44px;
}

.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  position: center;
  align-content: center;
  justify-content: space-evenly;
  padding-bottom: 54px;


  h2 {
    padding-top: 41px;
    text-align: left;
    font-size: 24pt;
  }

  .br {
    color: black;
  }

  .unique-products,
  .exceptional-support,
  .closing-time,
  .voice {
    height: 110px;
    width: 700px;
    padding-bottom: 300px;
    text-align: left;
    font-size: 18pt;
  }
}
