h1 {
  text-align: center;
  padding-top: 44px;
}

.about-center {

  hr {
    border: 1px solid $dark-green;
    border-radius: 1px;
    max-width: 73px;
  }
}


.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  position: center;
  align-content: center;  
  justify-content: space-around;
  padding-bottom: 54px;

  a {
    color: $link-green;
  }

  h2 {
    padding-top: 41px;
    text-align: left;
    font-size: 24pt;
    color: $dark-green;
  }

  .unique-products,
  .exceptional-support,
  .closing-time,
  .voice {

    height: 110px;
    width: 800px;
    padding-bottom: 300px;
    text-align: left;
    font-size: 18pt;
  }
}
