.banner {


  .lady-image {
    width: 100vw;
    display: flex;
  }


  h1, p {
    text-align: center;
  }

  h1::after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 2px;  
    color: $dark-green;
  }

  .career-button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 40px;
      width: 165px;
      background-color: $orange;
      color: white;
    }
  }
}