.banner {

  .lady-image {
    width: 100vw;
    display: flex;
  }

  h1 {
    padding-top: 64px;
    padding-bottom: 0px;
  }

  p {
    font-size: 30pt;
  }

  h1, p {
    text-align: center;
  }

  h1::after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 2px;  
    color: $dark-green;
  }

  .career-button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 40px;
      width: 165px;
      background-color: #e97300;
      font-size: 18pt;
      color: white;
      text-align: center;
      border: none;
        }
  }
}