.banner {


  .lady-image {
    width: 100vw;
    display: flex;
  }

  .vector-graphic {
    top: 151px;
    left: 615px;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  h1, p {
    text-align: center;
  }
}
