body {
  font-family: 100% $font-stack;
  background: white;
  line-height: 1.6;
}

h1 {
  color: $dark-green;
  font-size: 30pt;
  margin: 0;
}

h2 {
  color: $dark-green;
  font-size: 24pt;
  margin: 0;
}


img {
  max-width: 100%;
}

hr {
  width: 5%;
}