//Text Box

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  position: center;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;

  .box-break {
    background-color: $dark-green;
    width: 95vw;
    height: 57px auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: center;
    align-content: center;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 24pt;
      color: white;
    }
  }
  .box-para {
    width: 95vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: center;
    align-content: center;
    align-items: center;

    p {
      margin-top: 0;
      background-color: $back-gray;
      color: $gray;
      width: 95vw;
      height: 177px auto;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 50px;
      font-size: 18pt;
    }
  }
}

// Employee Testimony
.flex-container-3 {
  display: flex;
  flex-wrap: wrap;
  position: center;
  align-content: center;
  justify-content: space-around;
  padding-bottom: 8%;

  .br {
    width: 100vw;
    color: black;
  }

  .profile-1,
  .profile-2,
  .profile-3 {
    align-content: center;
    justify-content: space-between;
    height: 110px;
    width: 400px;
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 150px;
    padding-bottom: 500px;
    position: center;

    .profile-1-quote,
    .profile-3-quote {

      .quotation-mark {
        padding-right: 80%;
      }
      p {
        font-style: italic;
        font-size: 19.35085pt;
        color: $light-gray;
        text-align: center;
        width: 300px;
        height: 275px auto;
        margin-bottom: 0;
      }
      h3 {
        font-size: 19.35085pt;
        color: $light-green;
        text-align: center;
        width: 300px;
      }
    }

    .profile-2-quote {

      .quotation-mark {
        padding-right: 80%;
      }
      p {
        font-style: italic;
        font-size: 19.35085pt;
        color: $light-gray;
        text-align: left;

      }
      h3 {
        font-size: 19.35085pt;
        color: $light-green;
        text-align: center;
        width: 300px;
      }
    }
  }
}
