.box-break {
  background-color: $dark-green;
  width: 95vw;
  height: 56px;
  margin: 32px;

h2 {
    text-align: center;
    font-size: 24pt;
    color: white;
}

p {
    background-color: $dark-green;
    width: 95vw;
    height: 56px;
    margin: 20px;  
    text-align: left;
    font-size: 18px;
}

}