$orange: #e97300;
$green: #00945f;
$dark-green: rgba(0, 148, 95, 255);
$light-green: rgba(0, 158, 119, 255);
$link-green: #759b24;
$gray: rgba(136, 136, 136, 255);
$light-gray: rgba(102, 102, 102, 255);
$back-gray: #ebf7f5;
